body {
  margin: 0;
  padding: 0;
}

header {
  height: 365px;
  width: 1920px;
  background: url("../image/header-picture.png");
}

.sprite {
  background-image: url("../image/i.png");
  background-repeat: no-repeat;
  display: inline-block;
}

.wrap-navigation {
  width: 988px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  border-bottom: 1px solid #c2b7b0;
}

.navigation {
  width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation a {
  height: 16px;
  margin: 17px 0 0;
  color: #766259;
  font-family: Calibri, sans-serif;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px solid #c2b7b0;
}

.account {
  width: 254px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.account a {
  padding: 0;
  height: 16px;
  margin: 17px 0 0;
  color: #766259;
  font-family: Calibri;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 1px dotted #c2b7b0;
}

.account-city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account-city i {
  width: 15px;
  height: 19px;
  background-position: -367px -5px;
  margin: 17px 7px 0;
}

.account-city p {
  color: #766259;
  font-family: Calibri;
  font-size: 13px;
  font-weight: 400;
  padding: 0;
  margin: 17px 5px 0 0;
}

.account-personal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.account-personal i {
  width: 15px;
  height: 19px;
  background-position: -270px -5px;
  margin: 17px 7px 0;
}

.middle-header {
  width: 970px;
  height: 95px;
  margin: 24px auto 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo i {
  width: 274px;
  height: 72px;
  background-position: -402px -72px;
}

.search {
  width: 330px;
  height: 36px;
  -webkit-box-shadow: inset 0 1px 2px rgba(96, 58, 26, 0.22);
          box-shadow: inset 0 1px 2px rgba(96, 58, 26, 0.22);
  border-radius: 18px;
  border-style: none;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search input {
  background: none;
  border: none;
  padding: 0 11px;
  outline: none;
  color: #766259;
  font-family: Calibri;
  font-size: 13px;
  font-weight: 400;
  line-height: 85px;
}

.search i {
  width: 13px;
  height: 15px;
  background-position: -666px -5px;
  margin-left: 11px;
}

.callback {
  width: 226px;
  height: 43px;
}

.callback-number {
  color: #461f02;
  font-family: Georgia;
  font-size: 28px;
  font-style: italic;
}

.callback-text {
  color: #766259;
  font-family: Calibri;
  font-size: 13px;
  font-weight: 400;
  text-align: right;
}

.main-navigation {
  width: 988px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.main-navigation-name {
  width: 781px;
}

.main-navigation-name ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0;
}

.main-navigation-name ul a {
  text-decoration: none;
  color: #461f02;
  font-family: Calibri;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: #593518;
}

.main-navigation-cart {
  width: 135px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.main-navigation-cart i {
  width: 36px;
  height: 34px;
  background-position: -295px -5px;
}

.main-navigation-cart-price {
  margin: 16px 0 0;
  color: #461f02;
  font-family: Calibri;
  font-size: 17px;
  font-weight: 700;
}

.main-navigation-cart p {
  font-size: 14px;
  margin: 0;
  display: inline;
}
/*# sourceMappingURL=main.css.map */